#manipula {
  height: 100%;
  color: blueviolet;
  font-size: 24px;
  background-color: aqua;
}

#botoes input {
  background-color: #ffffff;
  font-size: 16px;
  border-radius: 4px;
  padding: 10px 20px;
  border: 1px solid #000000;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}